{{template "header" .}}

<div class="width">
    <h1>Simple Product API</h1>
    <br>
    <br>
    <h3><a href="/signup">Sign up</a></h3>
    <br>
    <h3><a href="/login">Login</a></h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4><a href="/products">Products</a></h4>
</div>

{{template "footer" .}}