{{template "header" .}}

<div class="products">
  <div class="width">
    <h1>Product {{ .product.ID }}</h1>

    <div class="products-table">

      <div class="product-row head">
        <div class="product-row-id">ID</div>
        <div class="product-row-details">Name</div>
        <div class="product-row-description">Description</div>
        <div class="product-row-details">Price</div>
        <div class="product-row-details">Stock</div>
        <div class="product-row-details">Category</div>
        <div class="product-row-details">Rating</div>
        <div class="product-row-details"></div>
        <div class="product-row-details"></div>
      </div>

      <div class="product-row">
        <div class="product-row-id">
          {{ .product.ID }}
        </div>
        <div class="product-row-details">
          {{ .product.Name }}
        </div>
        <div class="product-row-description">
          {{ .product.Description }}
        </div>
        <div class="product-row-details">
          {{ .product.Price }}
        </div>
        <div class="product-row-details">
          {{ .product.Stock }}
        </div>
        <div class="product-row-details">
          {{ .product.Category }}
        </div>
        <div class="product-row-details">
          {{ .product.Rating }}
        </div>
        <div class="product-row-details">
          <a href="/product/edit/{{.ID}}" style="color:aquamarine">Edit</a>
        </div>
        <div class="product-row-details">
          <a href="/product/delete/{{.ID}}" style="color: red;">Delete</a>
        </div>
      </div>
      
      <br>
      <a href="/products"><button>Go back</button></a>
    </div>
  </div>
</div>

{{template "footer" .}}