{{template "header" .}}

<div class="width">
    <form action="/login" method="post">
        <h1>Login</h1>
        <br>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
    <br><br><br><br><br>
    <a href="/"><button>Go back</button></a>
</div>

{{template "footer" .}}